body {
    /* Police de caractère */
    font-family: Arial, Helvetica, sans-serif;

    /* Taille de la police */
    font-size: 18px;

    /* Style de la police */
    font-style: normal;
    /* normal | italic */

    /* Epaisseur de la police */
    font-weight: normal;
    /* normal | bold */
}

h1 {
    font-weight: normal;
    font-size: 25px;

    /* Majuscule, minuscule */
    text-transform: uppercase;
    /* uppercase | lowercase | capitalize */

    /* alignement du texte */
    text-align: center;
    /* center | left | right | justify */
}

ul li {
    text-align: justify;
    list-style: none;
}

.link {
    /* Style sur le texte (souligné, barré..) */
    text-decoration: none;
    /* underline */
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: green;
}
