/* CSS Cascading style sheet */
/* Je suis un commentaire en CSS */

/* On peut selectionner les noms de balises HTML */
/* Consequences tous les elements de ce type seront modifiés */
h1 {
    color: orange;
}

p {
    color: red;
}

/* On peut selectionner des balises spécifiques grâce aux class en utilisant le . */
/* Conséquence tous les elements qui ont cette class seront modifiés */
.toto {
    color: blue;
}

/* Je peux selectionner plusieurs elements en meme temps en les séparant par une virgule */
h3,
.text-green {
    color: green;
}

/* On peut selectionner des balises spécifiques par selecteur descendant */
/* Ici les h2 qui se trouveraient dans une div qui a la class heading */
.section p {
    color: orange;
}

/* On peut selectionner une balise spécifique grâce à son id en utilisant un # */
/* Conséquence l'element qui a cet id sera modifié */
/* On préfère laisser les ID au Javascript sauf exception */
#title {
    color: pink;
}
